@font-face {
  font-family: "iconfont"; /* Project id 2559611 */
  src: url('iconfont/iconfont.woff2?t=1621498377832') format('woff2'),
       url('iconfont/iconfont.woff?t=1621498377832') format('woff'),
       url('iconfont/iconfont.ttf?t=1621498377832') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconboke:before {
  content: "\e666";
}

.icongithub:before {
  content: "\e7ab";
}

.iconyouxiang:before {
  content: "\e6cb";
}

.iconma:before {
  content: "\e600";
}

.icon13:before {
  content: "\e629";
}

.icongerenxinxi_baobeixingming:before {
  content: "\e69b";
}

.iconxuexiao:before {
  content: "\e775";
}

.iconjiguan:before {
  content: "\e616";
}

.icondianhua:before {
  content: "\e62c";
}

.iconxueli:before {
  content: "\e643";
}

.iconflower:before {
  content: "\e66b";
}

.iconDesert-:before {
  content: "\e62e";
}

